.card {
    width: 286px;

    &:hover {
        cursor: pointer;
        transition: box-shadow 0.25s ease-in, transform 0.25s ease-in;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
        transform: scale(1.05);
    }
}